.Contact {
    background-color: var(--secondary);
    padding-bottom: 200px;
}
.Contact .title {
    margin-top: 0px!important;
}
.Fields {
    display: flex;
    margin-top: -1em;
    height: 100%;
    flex-direction: column;
}
form {
    flex-wrap:wrap;
    display: flex;
    position: relative;
    justify-content: space-evenly;
}
input {
    background-color: var(--secondary);
    border: 2px solid white;
    overflow: hidden;
    padding: 16px;
    width: 300px;
    color: white;
    outline: none;
}
input:focus {
    border: var(--hot-color) 2px solid;
}
#message {
    width: 130%;
    margin: 0px;
    border: 2px solid white;
    padding: 0px;
    height: 100%;
    margin-top: -1.4em;
}
.message-container div {
    height: 100%;
}
.btn {
    position: relative;
    margin-top: 40px;
    left: 17%;
}
.btn button:hover {
    cursor: pointer;
}
.btn button {
    background-color: var(--hot-color);
    border: none;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    color: white;
}
@media only screen and (max-width: 800px) {

    form {
        padding: 10px;
        display: flex;
        position: relative;
        flex-direction: column!important;
    }
    label[for=message] {
        position: relative;
    }

}
