.message-item {
    margin-left: 70px;
    background-color: var(--secondary);
    border-radius: 20px;
    padding: 2px 20px;
    margin-top: 20px;
}
li {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}
.message-list {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    margin-bottom: 100px;
}
.message-itemwWithPfP {
    display: flex;
}
.handshake {
    display: inline-block;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: salut;
    z-index: 0;
}
.thirdary {
    color: var(--thirdary);
}
@keyframes salut {
    10% {
        transform: rotate(0deg);
    }
    20% {
        transform: rotate(-8deg);
    }
    30% {
        transform: rotate(14deg);
    }
    40% {
        transform: rotate(-8deg);
    }
    50% {
        transform: rotate(14deg);
    }
    60% {
        transform: rotate(-8deg);
    }
    70% {
        transform: rotate(14deg);
    }
    80% {
        transform: rotate(-8deg);
    }
    90% {
        transform: rotate(14deg);
    }
    100% {
        transform: rotate(-8deg);
    }
}

.pfP {
    background-image: url("../../assets/pfp.png");
    background-size: 50px 50px;
    background-position: 50%;
    border-radius: 50px;
    height: 50px;
    margin-right: 20px;
    min-width: 50px;
    position: absolute;
    top: 80%;
    width: 50px;
}
.github {
    text-align: center;
    font-size: 2em;
    font-weight: 800;
}
.link {
    color: var(--thirdary);
}
.github-container {
    font-family: "Montserrat", sans-serif;
    background-position: left;
    background-size: 0% 100%;
    background-image: linear-gradient(
        to right,
        rgb(244, 179, 44),
        rgba(255,197,118,.9)
    );
    padding-bottom: thickness;
    box-decoration-break: clone;
    display: inline;
    background-repeat: no-repeat;
    transition: all 500ms ease-in-out;
}
.github-container:hover {
    background-size: 100% 100%;
}

@keyframes slidein {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0%);
        visibility: visible;
    }
}
.home {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.Node {
    background-image: url("../../assets/langages/Nodejs.svg");
}
.Javascript {
    background-image: url("../../assets/langages/JavaScript.svg");
}
.HTML {
    background-image: url("../../assets/langages/HTML.svg");
}
.CSS {
    background-image: url("../../assets/langages/CSS.svg");
}
.TypeScript {
    background-image: url("../../assets/langages/TypeScript.svg");
}
.React {
    background-image: url("../../assets/langages/React.svg");
}
.langagesLogo {
    background-position: center;
    width: 100px;
    height: 100px;
    background-size: 100px 100px;  
}
@media only screen and (max-width: 940px) {
    .langagesLogo {
        width: 70px;
        height: 80px;
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
        margin-right: 20px;
    }
    .langages-item {
        min-width: 80%;
    }
    .langages-list {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
}
@media only screen and (min-width: 940px) {
    .langages-item {
        max-width: 100px;
        min-width: 500px;
    }
}
@media only screen and (max-width: 340px) {
    .input > label {
        padding: 0px!important;
    }
    .title {
        margin-top: 1500px!important;
    }
}
.langages-item {
    margin-right: 10px;
    background-color: var(--secondary);
    margin-top: 100px;
    padding: 20px 20px;
    border-radius: 10px;
    /* box-shadow: 2px 3px 5px 0px var(--fourthary); */
    transition: color 0.2s ease-in-out 100ms, border 0.2s ease-in-out 100ms;
    display: flex;
    justify-content: space-around;
    position: relative;
}
.langages-item:hover {
    border: var(--thirdary) solid 2px;
    cursor: pointer;
    color: var(--thirdary);
    transform: scale(101%);
}
.langages-list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.level {
    position: absolute;
    bottom: 0px;
    padding-right: 20px;
    right: 0px;
}
.date {
    margin-left: 30px;
}
.inputs {
    position: relative;
    margin-right: 20px;
    padding-right: 20px;
}
.inputs-list {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
input[type="radio"] {
    all: unset;
}
.input > label {
    transition: color 0.2s ease-in-out 100ms, border 0.2s ease-in-out 100ms;
    left: 200%;
    border: transparent solid 2px;
    background-color: var(--secondary);
    padding: 8px 10px;
    border-radius: 2px;
}
label:hover {
    color: rgb(104, 187.5, 255);
    cursor: pointer;
    border: var(--thirdary) solid 2px;
}
a {
    color: white;
}

p {
    color: #d4dcff;
}


@media only screen and (max-width: 940px) {
    .meImg {
        height: 150px!important;
        width: 150px!important;
    }
    .intro-container {
        flex-direction: column;
    }

}


.intro-container {
    overflow-x: hidden;
    position: absolute;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    margin-left: -20px!important;
    width: 100vw;
    padding: 120px 0px;
    background-color: var(--secondary);
}

.meImg {
    margin-left: 20px;
    flex-shrink: 0;
    margin-right: 20px;
    background-image: url(../../assets/pfp.png);
    border: var(--hot-color) solid 2px;
    width: 300px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 300px;
}
.intro-container p {
    margin-left: 20px;
    font-size: 1.5em;
    font-family: 'Lato', sans-serif;
    max-width: 500px;
    color: white!important;
    text-align: justify;
    margin-right: 20px;
}
.intro-container span {
    font-size: 1.4em;
    font-style: italic;
    color: var(--hot-color);
}

.langages-wrapper {
    margin-top: 860px;
}
