# dependencies
node_modules/
node_modules
./node_modules
/node_modules
node_modules
**/node_modules
*node_modules*
*node_modules/*
.cache/
dist/
.env
.DS_Store
coverage/
.vscode/
.env
client/build
build/
build