body {
    z-index: 10;
}
.contactInputs {
    .required {
        color: red;
    }
    label {
        display: block;
        float: none;
        width: auto;
        font-weight: 500;
        line-height: 20px;
        padding-top: 0;
        margin-bottom: 9px;
        margin-top: 9px;
        font-family: "Helveti"
    }
    .input {
        height: 50px;
        width: 300px;
        margin-right: 20px;
    }
    #message {
        margin-bottom: 32px;
        width: 640px;
        height: 200px;
    }
    #submit {
        line-height: 0px;
        appearance: none;
        cursor: pointer;
        border: 0px none;
        border-radius: 5px;
        padding: 20px 20px;
        color: white;
        background-color: rgb(255, 200, 60);
    }

}
.card {
    height: 400px;
    width: 40%;
    position: relative;
    min-width: 200px;
    max-width: 500px;
    background-color: rgb(255, 200, 60);
    border-radius: 10px;
    z-index: 0;
    #circle {
        transform: translate(-50%);
        transform: translate(-50%, -50%);
        z-index: -1;
        position: absolute;
        background-color: rgb(245, 190, 50);
        height: 80px;
        width: 80px;
        border-radius: 900px;
    }
    .block {
        z-index: 0;
        margin: 20px;
        h3 {
            margin-bottom: 50px;
        }
        p {
            margin-bottom: 10px;
        }
        h4 {
            margin-top: 100px;
        }
    }
}
.Contact {
    z-index: 0;
    display: flex;
    justify-content: space-around;
}