.Footer {
    padding: 10vh 0px 0px 0px;
}
.GoDown {
    animation-name: upanddown;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;

}
@keyframes upanddown {
    from {
        transform: translateY(-10%);
    }
    to {
        transform: translateY(+10%);
    }
}
