.Home {
  margin-top: 150px;
}
.Home ul {
  list-style-type: none;
  margin-left: -40px;
}
.Home li {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
}
.Home .message {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 20px;
  display: flex;
  align-items: center;
  padding: 10px 40px 10px 40px;
  background-color: rgb(239, 239, 239);
  border-radius: 50px;
  font-size: 2em;
  visibility: hidden;
}
.Home .blackMessage {
  background-color: rgb(0, 0, 0);
  box-shadow: 0px 0px 0px 4px rgb(30, 30, 30) inset;
  color: white;
}
.Home .message1 {
  visibility: visible;
}
.Home #hand {
  z-index: 0;
  animation-name: salut;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.Home .message2 {
  animation-name: message;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}
.Home .message3 {
  animation-name: message;
  animation-duration: 1s;
  animation-delay: 1.3s;
  animation-fill-mode: forwards;
}
.Home .message4 {
  animation-name: message;
  animation-duration: 1s;
  animation-delay: 2.1s;
  animation-fill-mode: forwards;
}
.Home .pfp {
  min-width: 50px;
  z-index: -2;
  margin-right: 20px;
  height: 50px;
  width: 50px;
  background-image: url("https://cdn.discordapp.com/attachments/635919509932343336/1082042645632786583/image.png");
  background-position: center;
  border-radius: 50px;
  transform: translateY(25%);
  visibility: hidden;
}
.Home .pfp1 {
  visibility: visible;
}
.Home .pfp2 {
  animation-name: message;
  animation-duration: 0.1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}
.Home .pfp3 {
  animation-name: message;
  animation-duration: 0.1s;
  animation-delay: 1.3s;
  animation-fill-mode: forwards;
}
.Home .pfp4 {
  animation-name: message;
  animation-duration: 0.1s;
  animation-delay: 2.1s;
  animation-fill-mode: forwards;
}

@keyframes scrolling-left1 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
    overflow-x: hidden;
  }
}
@keyframes scrolling-left2 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-200%);
    overflow-x: hidden;
  }
}
@keyframes scrolling-right1 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(200%);
    overflow-x: hidden;
  }
}
@keyframes scrolling-right2 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
    overflow-x: hidden;
  }
}
@media (max-width: 480px) {
  .Home {
    display: inline-block;
  }
}
.Biographie {
  visibility: hidden;
  width: 100%;
  overflow: hidden;
  animation-name: slideinbottom;
  animation-delay: 2.1s;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}
.Biographie p {
  position: relative;
  width: 100%;
  padding-top: 20px;
  white-space: nowrap;
  font-size: 2em;
}
.Biographie .marquee {
  margin-bottom: 100px;
  animation-delay: 2.1s;
  display: inline-block;
  animation: scrolling-left1 20s linear infinite;
}
.Biographie .marquee span:nth-child(3) {
  color: rgb(255, 200, 60);
}
.Biographie .marquee2 {
  position: absolute;
  display: inline-block;
  animation: scrolling-left2 20s linear infinite;
  animation-delay: 10s;
}
.Biographie .marquee2 span:nth-child(5) {
  color: rgb(255, 200, 60);
}

.Moi {
  font-size: 2em;
  margin-top: 100px;
  visibility: hidden;
  padding-bottom: 25px;
  text-align: justify;
  animation-delay: 2.1s;
  animation-name: slidein;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
.Moi a {
  color: rgb(255, 200, 60);
  text-decoration: none;
}

@media (min-width: 1080px) {
  .Home {
    display: flex;
    justify-content: space-around;
  }
  .Moi {
    margin-top: 0px;
  }
}
.goUp {
  position: fixed;
  height: 50px;
  width: 50px;
  border: solid 5px rgb(30, 30, 30);
  border-radius: 900px;
  right: 2%;
  bottom: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
}

.blackGoUp {
  position: fixed;
  height: 50px;
  width: 50px;
  border: solid 5px rgb(30, 30, 30);
  border-radius: 900px;
  right: 2%;
  bottom: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
}

.GoDown {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  font-size: 4em;
}
.GoDown a {
  text-decoration: none;
  color: rgb(255, 200, 60);
}

@keyframes message {
  from {
    visibility: hidden;
  }
  to {
    visibility: visible;
  }
}
@keyframes slidein {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
    visibility: visible;
  }
}
@keyframes slideinbottom {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
    visibility: visible;
  }
}
@keyframes salut {
  10% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-8deg);
  }
  50% {
    transform: rotate(14deg);
  }
  60% {
    transform: rotate(-8deg);
  }
  70% {
    transform: rotate(14deg);
  }
  80% {
    transform: rotate(-8deg);
  }
  90% {
    transform: rotate(14deg);
  }
  100% {
    transform: rotate(-8deg);
  }
}
@media (max-width: 480px) {
  .Home {
    margin-top: 50px;
  }
  .goUp {
    right: 10%;
  }
  .message {
    font-size: 20px;
  }
}
.Footer {
  padding: 5px 0px 0px 0px;
}

.GoDown {
  animation-name: upanddown;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}

@keyframes upanddown {
  from {
    transform: translateY(-10%);
  }
  to {
    transform: translateY(10%);
  }
}
.yellowTest {
  color: rgb(255, 200, 60);
}/*# sourceMappingURL=Home.css.map */