.Home ul {
    list-style-type: none;
}
.message {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 20px;
    display: flex;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    height: 50px;
    background-color: rgb(239, 239, 239);
    border-radius: 50px;
    font-size: 2em;
    visibility: hidden
}
.Home li {
    display: flex;
}
.pfp {
    margin-right: 20px;
    height: 50px;
    width: 50px;
    background-color: black;
    border-radius: 50px;
    transform: translateY(+50%);
    visibility: hidden;
}
.message1 {
    width: 134px;
    visibility: visible;
}
.message2 {
    width: 300px;
    animation-name: message;
    animation-duration: 1s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}
.message3 {
    width: 150px;
    animation-name: message;
    animation-duration: 0.1s;
    animation-delay: 2.5s;
    animation-fill-mode: forwards;
}
.message4 {
    width: 312px;
    animation-name: message;
    animation-duration: 0.1s;
    animation-delay: 4s;
    animation-fill-mode: forwards;
}
.pfp1 {
    visibility: visible;
}
.pfp2 {
    animation-name: message;
    animation-duration: 0.1s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}
.pfp3 {
    animation-name: message;
    animation-duration: 0.1s;
    animation-delay: 2.5s;
    animation-fill-mode: forwards;
}
.pfp4 {
    animation-name: message;
    animation-duration: 0.1s;
    animation-delay: 4s;
    animation-fill-mode: forwards;
}
@keyframes message {
    from {
        visibility: hidden
    }
    to {
        visibility: visible;
    }
}