.NavBar ul{
    margin-top: 10px;
    display: flex;
    float: right;
    text-decoration: none;
    li {
        padding: 0px 50px 0px 0px;
        list-style-type:none;
        display: inline;
        animation-duration: 2s;
        animation-name: slideinright;
    }
    a:hover {
        position: relative;
        border: 1px white solid;
        border-radius: 5px;
    }
    a {
        text-decoration:none;
        color: white;
    }
}
.Responsive-NavBar {
    width: 100%;
    background-color: black;
    height: 40px;
    position: fixed;
    z-index: 10; 
    a{
        text-decoration:none;
        color: white;
        padding: 50px;
        display: flex;
        color: black;
    }
    li{
        list-style-type: none;
        padding-top: 100px;
    }
    ul {
        display: flex;
        flex-direction: column;
    }
    a:hover {
        text-decoration:none;
        color: rgb(73, 73, 73)
    }
}

.hidden {
    display: none;
}
.burger {
    animation-duration: 1s;
    animation-name: slideinright2;
    animation-name: pulse;
    animation-duration: 1s;
    position: absolute;
    margin-left: 10px;
    margin-top: 5px;
    height: 30px;
    width: 30px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    h2 {
        position: absolute;
        font-size: 12px;
        top: 25%;
        left: 50%;
        transform: translateX(-50%);
    }
}
.colorContainer {
    height: 20px;
    width: 50px;
    background-color: white;
    border-radius: 900px; 
}
.sun, .moon {
    height: 20px;
    width: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 900px; 
    animation-name: slidewhite;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
.moon {
    animation-name: slideblack;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
@keyframes slideblack {
    from {
        background-color: black;
        transform: translateX(0%);
    }
    to {
        background-color: rgb(255, 255, 255);
        transform: translateX(125%);
    }
}
@keyframes slidewhite {
    from {
        background-color: rgb(255, 255, 255);
        transform: translateX(125%);
    }
    to {
        background-color: rgb(0, 0, 0);
        transform: translateX(-5%);
    }
}
#content-container {
    animation: slideinleft;
    animation-duration: 1s;
    width: 65vw;
    height: 100vh;
    border: black 2px solid;
    margin-left: -12px;
    margin-top: 35px;
    border-top: 0px;
    background-color: white;
    z-index: -9999;
}

// ANIMATION
@keyframes slideinright {
    from {
        opacity: 0%;
        transform: translateX(+100%);
    }
    to {
        opacity: 100%;
        transform: translateX(0%);
    }
}
@keyframes slideinright2 {
    from {
        opacity: 0%;
        transform: translateX(+500%);
    }
    to {
        opacity: 100%;
        transform: translateX(0%);
    }
}
@keyframes slideinleft {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0%);
    }
}
@keyframes pulse{
    from {
        border: 4px solid rgba(255, 255, 255, 0.1);
    }
    to {
        border: 2px solid rgb(255, 255, 255, 1);
    }
}
