h2 {
    color: white;
  }

.Footer {
    width: 100%;
    position: relative;
    overflow-x: hidden;
}
.langages {
    margin-top: 100px;
    z-index: 9999;
    padding: 0px 10% 0px 10%;
    padding-right: 5px;
    position: absolute;
    width: 100%;
    background-color: white;
    height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
@media (max-width: 800px) {
    .langages {
        align-items: center;
        display: flex;
        flex-direction: column;
    }
  }
.container {
    color: black;
    user-select: none;
    z-index: 200;
    display: flex;
    justify-content: center;
    text-align: center;
    align-content: center;
    height: 100px;
    margin-top: 20px;
    background-color: blue;
    width: 200px;
}