nav {
    z-index: 10;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: var(--secondary);
    width: 100vw;
    height: 50px;
    display: flex;
    justify-content: space-between;
}
nav>div>.nav-container>ul>li {
    display: inline;
    margin-right: 20px;
    position: relative;
    transition: transform 0.3s ease-in-out;
}
nav>div>.nav-container>ul>li>a {
    transition: color 0.4s ease-in-out;
}
nav>div>.nav-container>ul>li>a:hover {
    color: var(--thirdary)
}

@media only screen and (min-width: 800px) {

    #nav-burger {
        display: none;
    } 
    nav {
    z-index: 10;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: var(--secondary);
    width: 100vw;
    height: 50px;
    display: flex;
    justify-content: space-between;
    }


    nav>ul>li {
    display: inline;
    margin-right: 20px;
    position: relative;
    transition: transform 0.3s ease-in-out;
    }
    nav>ul>li>a {
    transition: color 0.4s ease-in-out;
    }  
    nav>ul>li>a:hover {
    color: var(--thirdary)
    }

}
@media only screen and (max-width: 800px) {
    @keyframes slideFromTop {
        from{
            padding-top: 0px;
            height: 0px;
        }to{
            padding-top: 200px;
            height: 300px;
        }
    }
    nav {
        align-items: center;
    }
    #nav-burger {
        font-size: 2em;
        transition: color 0.2s ease-out 100ms;
        color: white;
        display: block;
        margin-right: 20px;
        user-select: none;
    }
    #nav-burger:hover {
        cursor: pointer;
        color: var(--thirdary);
    }
    nav>div>div>ul>li>a:hover {
        color: var(--thirdary);
    }
    nav>div>div>ul>.nav-item {
        transition: color .4s ease-out 100ms;
        opacity: 0%;
        animation: appear 0.5s ease-out forwards;
        animation-delay: 0.5s;
    }
    /* .nav-item {
        animation: appear 0.5s ease-out forwards;
    } */
    @keyframes appear {
        from{
            opacity: 0%;
        }to {
            opacity: 100%;
        }
    }
    .nav-container {
        display: none;
        width: 100%;
        left: 0px;
        position: absolute;
        background-color: var(--secondary);
        text-align: center;
    }
    nav>div>div>ul>li {
        margin-top: 20px;
    }
    nav>div>div>ul {
        padding-left: 0px;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        
    }
}
.nav-list {
    display: flex;
    align-items: center;
}
.material-symbols-outlined {
    font-size: 1em;
    margin-right: 5px;
    position: relative;
    bottom: -2px;
    color: var(--thirdary)
}
.visible1 {
    animation: slideFromTop 0.8s ease-in-out forwards;
    display: block;
}


.changeThemeButton {
    height: 20px;
    width: 20px;
    border: var(--thirdary) solid 4px;
    background-color: white;
    border-radius: 100px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
.changeThemeButton:hover {
    cursor: pointer;
}
.mode {
    margin-right: 0px;
}

.nav-light {
    background-color: var(--secondary-light);
    color: black;
}